<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>965425408392-4km8d3tsecqcfrt7bcqlc3bvnnhg7gdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965425408392-4km8d3tsecqcfrt7bcqlc3bvnnhg7gdc</string>
	<key>API_KEY</key>
	<string>AIzaSyBCR0wR8rzFopQ518JKxFyEUuldb4PKtBw</string>
	<key>GCM_SENDER_ID</key>
	<string>965425408392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lostnationrd.TriggerWork</string>
	<key>PROJECT_ID</key>
	<string>trigger-work-3aab5</string>
	<key>STORAGE_BUCKET</key>
	<string>trigger-work-3aab5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:965425408392:ios:af43f768e16b1d10</string>
	<key>DATABASE_URL</key>
	<string>https://trigger-work-3aab5.firebaseio.com</string>
</dict>
</plist>